<h1>Ingredient <%=@ingredient.name%></h1>

  <ul> 
    <li>Name: <%=@ingredient.name%> </li>
    <li>Created At: <%@ingredient.created_at%> </li>
    <li>Updated At: <%@ingredient.updated_at%> </li>
    <li>ID: <%= @ingredient.id%></li>
  </ul>
<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>