<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<% if mobile_user_agent.eql?"BlackBerry" -%>
<title> Off the Shelf Blackberry</title>
<% elsif mobile_user_agent.eql?"iPhone" %>
<title> Off the Shelf iPhone</title>
<% else %>
    <title>Off the Shelf</title>
    <%= javascript_include_tag 'jquery-1.4.2.min.js'%>
    <%= javascript_include_tag 'jquery.autocomplete.js' %>
    <%= javascript_include_tag 'application.js' %>
    <%= javascript_include_tag 'jquery.simplemodal-1.3.4.js'%>
    <%= stylesheet_link_tag 'common' %>
    <%= stylesheet_link_tag 'jquery.autocomplete.css' %>
    <%= stylesheet_link_tag 'basic.css'%>
<%  end %>
</head>
<body>
  <div id="wrapper">
    <div id="banner_top"></div><!--end banner top-->
      <div id="add_ingredients">
      <div class="clear"></div>
       <%= yield :search_bar %>
      <div id="nav">
        <ul id="topnav">
          <li><%= link_to 'Home', :controller=>"home", :action => "index"   %></li>
          <li><%= link_to 'Contact', :controller=>"contact", :action=>"index" %></li>
        </ul>
      </div><!--end nav-->
    </div><!--end add ingredients-->
    <div id="clear"></div>
    <div id="bottom_bg">
      <%=yield%>
    </div><!--end bottom_bg--> 
    <div id="footer"></div><!--end footer-->
  </div><!--end wrapper-->     
  
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-15527346-1");
    pageTracker._trackPageview();
  } catch(err) {}</script> 
</body>
</html>
